<div class="p-4 custom-modal">


    <div class="modal-header">
      <h1 mat-dialog-title class="modal-title">{{action}} Empresa</h1>
    </div>
  
    <form novalidate (ngSubmit)="onSubmit()" [formGroup]="tableForm" role="form">
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <div class="mb-3">    
              <label class="form-label">Nome da Empresa</label>          
              <input type="text" class="form-control" formControlName="nome" placeholder="Ex. Plural Indústria Gráfica" aria-label="nome" aria-describedby="basic-addon1">                           
            </div>
            <div class="mb-3">
              <label class="form-label">Email</label>
              <input required type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" formControlName="email">              
              <mat-error *ngIf="tableForm.get('email')?.touched">O <strong>Email</strong> é obrigatório.</mat-error>
              <mat-error *ngIf="tableForm.get('email')?.hasError('invalidEmailPattern') && !tableForm.get('email')?.hasError('required')">O <strong>Email</strong> é inválido.</mat-error>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
              <mat-checkbox color="primary" class="w-100" formControlName="ativo">{{VerificaStatus()}}</mat-checkbox>
          </div>
        </div>
  
      </div>
  
      <div class="modal-footer m-1">
  
        <button mat-raised-button class="me-5" color="primary" [disabled]="tableForm.invalid">
          {{action}}
        </button>
  
        <button mat-raised-button color="primary" type="button" (click)="closeDialog()">
          Cancelar
        </button>
  
      </div>
  
    </form>
    
    </div>
  