<mat-card class="p-4" style="max-width: 50rem;">

    <mat-card-header>
      <span mat-card-avatar class="material-symbols-outlined">home_work</span>
      <mat-card-title>{{action}} Empresa</mat-card-title>
    </mat-card-header>

    <mat-divider></mat-divider>
  
    <form class="mt-4" novalidate (ngSubmit)="onSubmit()" [formGroup]="tableForm" role="form">
      <mat-card-content>
        <div class="row">
          <div class="col-md-6">
            <div class="mb-2">    
              <label class="form-label">Nome da Empresa</label>          
              <input type="text" class="form-control" formControlName="nome" placeholder="Ex. Plural Indústria Gráfica" aria-label="nome" aria-describedby="basic-addon1">                           
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-2">
              <label class="form-label">Email</label>
              <input required type="email" class="form-control" placeholder="name@example.com" formControlName="email">              
              <mat-error *ngIf="tableForm.get('email')?.touched && tableForm.get('email')?.hasError('required')">O <strong>Email</strong> é obrigatório.</mat-error>
              <mat-error *ngIf="tableForm.get('email')?.hasError('invalidEmailPattern') && !tableForm.get('email')?.hasError('required')">O <strong>Email</strong> é inválido.</mat-error>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-2">
              <label class="form-label">Telefone</label>
              <input class="form-control" placeholder="(00) 90000-0000" formControlName="telefone" type="tel">              
              <mat-error *ngIf="tableForm.get('telefone')?.hasError('invalidTelefonePattern') && !tableForm.get('telefone')?.hasError('minlength')">O <strong>Telefone</strong> é inválido.</mat-error>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-2">
              <label class="form-label">Cep</label>
              <input required class="form-control" placeholder="000000-00" formControlName="cep" type="text">              
              <mat-error *ngIf="tableForm.get('cep')?.touched && tableForm.get('cep')?.hasError('required')">O <strong>Cep</strong> é obrigatório.</mat-error>
              <mat-error *ngIf="tableForm.get('cep')?.hasError('invalidCepPattern') && !tableForm.get('cep')?.hasError('minlength')">O <strong>cep</strong> é inválido.</mat-error>
            </div>
          </div>
          <div class="col-md-12">
            <div class="mb-2">
              <label class="form-label">Endereço</label>
              <input required class="form-control" placeholder="Av. Teixeira Barreto" formControlName="endereco" type="text">              
              <mat-error *ngIf="tableForm.get('endereco')?.touched && tableForm.get('cep')?.hasError('required')">O <strong>Endereço</strong> é obrigatório.</mat-error>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-2">
              <label class="form-label">Numero</label>
              <input required class="form-control" placeholder="Número" formControlName="numero" type="text">              
              <mat-error *ngIf="tableForm.get('numero')?.touched && tableForm.get('numero')?.hasError('required')">O <strong>Número</strong> é obrigatório.</mat-error>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-2">
              <label class="form-label">Complemento</label>
              <input class="form-control" placeholder="Complemento" formControlName="complemento" type="text">                            
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-2">
              <label class="form-label">Bairro</label>
              <input required class="form-control" placeholder="Bairro" formControlName="bairro" type="text">              
              <mat-error *ngIf="tableForm.get('bairro')?.touched && tableForm.get('bairro')?.hasError('required')">O <strong>Bairro</strong> é obrigatório.</mat-error>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-2">
              <label class="form-label">Cidade</label>
              <input required class="form-control" placeholder="Cidade" formControlName="cidade" type="text">                            
              <mat-error *ngIf="tableForm.get('cidade')?.touched && tableForm.get('cidade')?.hasError('required')">A <strong>Cidade</strong> é obrigatória.</mat-error>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-2">
              <label class="form-label">Estado</label>
              <input required class="form-control" placeholder="Ex. São Paulo" formControlName="estado" type="text">                            
              <mat-error *ngIf="tableForm.get('estado')?.touched && tableForm.get('estado')?.hasError('required')">O <strong>Estado</strong> é obrigatório.</mat-error>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="mb-2">
            <div class="col-12">
                <mat-checkbox color="primary" class="w-100" formControlName="ativo">{{VerificaStatus()}}</mat-checkbox>
            </div>
          </div>
        </div>  
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions class="mt-3 align-items-center justify-content-end">
  
        <button mat-raised-button class="me-5" color="primary" [disabled]="tableForm.invalid">
          {{action}}
        </button>
  
        <button mat-raised-button color="primary" type="button" (click)="closeDialog()">
          Cancelar
        </button>
  
      </mat-card-actions>
  
    </form>
</mat-card>
  