<nav class="navbar fixed-top justify-content-end z-1 mat-elevation-z2" style="background-color: white;">
    <div class="pe-3">
        <ng-container>
            
          <button mat-button [matMenuTriggerFor]="userMenu" >
            <img class="me-2" height="35" src="../../../../assets/Images/User.png">
            <!--{{user.displayName}}-->
            <span>Kelvin</span>
            <mat-icon>expand_more</mat-icon>
          </button>
  
        </ng-container>
  
        <ng-template #loginButton>
          <button mat-button routerLink="login">
            <mat-icon>login</mat-icon>
            Login
          </button>
        </ng-template>
    </div>
</nav>


<mat-menu #userMenu="matMenu">
    <button mat-menu-item routerLink="Perfil">
      <mat-icon>person</mat-icon>
      <span>Perfil</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item routerLink="Login">
      <mat-icon>logout</mat-icon>
      <span>Sair</span>
    </button>
  </mat-menu>