<div class="p-3">
    <div class="modal-header">
      <h1>{{ data.title }}</h1>
    </div>
  
    <div class="modal-body">
      <p class="mat-body dialog-message">{{ data.message }}</p>
    </div>
  
    <div class="modal-footer" style="float: right;">
      <button class="btn dialog-btn me-5" mat-raised-button color="primary" type="button" (click)="cancel()">{{ data.cancelText }}</button>
      <button class="btn dialog-btn" mat-raised-button color="primary" type="button" (click)="confirm()">{{ data.confirmText }}</button>
    </div>
  </div>
  